body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sun-icon {
    width: auto;
    height: 60px;
}

h1 {
    margin: 0 20px;
    font-size: 2.5em;
    font-weight: bold;
}

.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ccc;
    border: none;
    border-radius: 5px 5px 0 0;
}

.tab-button.active {
    background-color: #999;
    border-bottom: 2px solid #999;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #ccc;
    border: 4px solid black;
    border-radius: 0 0 5px 5px;
}

.tab-content.active {
    display: block;
}

#weather-display, #hourly-display {
    margin-top: 20px;
}

.weather-section {
    background-color: #bbb;
    border: 4px solid black;
    padding: 20px;
    margin-top: 20px;
}

#search-section {
    padding: 20px;
    border: 4px solid black;
    background-color: #ccc;
}

input {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

.forecast-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    background-color: #bbb;    
}

.forecast-day {
    flex: 0 0 auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    min-width: 150px;
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid black;
}

.forecast-day.selected {
    background-color: #ccc;
}

.forecast-day:hover {
    background-color: #ececec;
}

.forecast-day img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}

.hourly-forecast {
    background-color: #bbb;
    border: 4px solid black;
    padding: 20px;
    margin-top: 20px;
}

.hourly-data {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    background-color: #bbb;
}

.hourly-block {
    flex: 0 0 150px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

#radar-tab img {
    width: 50%;
    margin-bottom: 20px;
    border: 4px solid black;
}
